/* ==========================================================================
   Serve IFRAME full-screen.
   ========================================================================== */

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

div#content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

div#content iframe {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border: none;
}

